*
{
    margin: 0;
    padding: 0;
}

body
{
    margin-top: 10px;
    background-image: url(./shara\ desert.jpg);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position-y: -20px;
    height: 102%;
}

.logo
{
    margin: 50px;
}

a
{
    margin: 20px;
    text-decoration: none;
    color:antiquewhite;
    font-weight: bolder;
}

.nav
{
    position: relative;
    left: 850px;
}

.img1
{
    height: 40px;
}

.menu
{
    border: 0px solid;
    padding: 20px;
    border-radius: 100%;
    background-image: url(./menu.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.container
{
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    top: 40px;
}

.sahara
{
    margin-left: 100px;
    height: 600px;
    width: 600px;
    border: 5px solid none;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-self: center;  
    
}

h1
{
    font-size: 100px;
}

.para
{
    font-weight: bold;
    line-height: 25px;
}

.explore
{
    border: 2px solid aliceblue;
    background-color: white;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    color: black;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 30px;
}

.img_grid
{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 30px;
    margin-left: 100px;
    height: 600px;
    width: 600px;
    border: 5px solid none;
    filter:brightness(0.75);
    filter: contrast(1.1);
    color: aliceblue;
}

p
{
    margin-left: 15px;
    margin-top: 8px;
}

.heading
{
    font-size: 24px;
}

.image1
{
    background-image: url(./pic-1.png);
    background-repeat: no-repeat;
    background-size: 265px;
    border: 0px solid;
    border-radius: 15px;
}

.image1:hover
{
    transform: translateY(-10px);
    transition-duration: 0.25s;
}

.image2
{
    background-image: url(./pic-2.png);
    background-repeat: no-repeat;
    background-size: 265px;
    border: 0px solid;
    border-radius: 15px;
}
.image2:hover
{
    transform: translateY(-10px);
    transition-duration: 0.25s;
}
.image3
{
    background-image: url(./pic-3.png);
    background-repeat: no-repeat;
    background-size: 265px;
    border: 0px solid;
    border-radius: 15px;
}
.image3:hover
{
    transform: translateY(-10px);
    transition-duration: 0.25s;
}

.image4
{
    background-image: url(./pic-4.png);
    background-repeat: no-repeat;
    background-size: 265px;
    border: 0px solid;
    border-radius: 15px;
}
.image4:hover
{
    transform: translateY(-10px);
    transition-duration: 0.25s;
    transition-property: 1;
}


@media all and (min-width: 600px) and (max-width: 900px)
{
    .container
    {
        flex-direction: column;  
        position: absolute;
        top: 10px; 
        margin: auto;
    }

    .nav
    {
        position: relative;
        left: 300px;
        z-index: 1;
    }

    h1
    {
        font-size: 50px;
    }

    .sahara
    {
        margin-left: 50px;
        height: 300px;
        width: 600px;
        border: 5px solid none;
        color: aliceblue;
        font-size: ;
        display: flex;
        flex-direction: column;      
    }

    a
    {
        margin: 10px;
    }
    .img_grid
    {
        display: grid;
        grid-template-columns: 570px;
        
    }

    .image1
    {
        background-size: cover;
        background-position-y: center;
        height: 280px;
        border: 0px solid;
        border-radius: 15px;
    }

    .image2
    {
        background-size: cover;
        background-position-y: center;
        height: 280px;
        border: 0px solid;
        border-radius: 15px;
    }

    .image3
    {
        background-size: cover;
        background-position-y: center;
        height: 280px;
        border: 0px solid;
        border-radius: 15px;
    }

    .image4
    {
        background-size: cover;
        background-position-y: center;
        height: 280px;
        border: 0px solid;
        border-radius: 15px;
    }

}